- link_for_cate = link_for_category(@item[:category])
- links_for_tag = @item[:tags].map { |tag| link_for_tag(tag, :category => @item[:category])+link_for_tag(tag, :link_text => "_a") }.join(', ')

%div(class="article#{if (!@item[:category].nil?||!@item[:category].empty?) then (' '+@item[:category]) end}")
  %h2 #{link_to(@item[:title], @item.path)}
  %h3 Created in: #{attribute_to_time(@item[:created_at]).to_iso8601_date}  Author: #{@item[:author]} Category: #{link_for_cate} Tags: #{links_for_tag}
  %div.inner
    - if @meta_page == true
      - if article_desc_match_data = @item.compiled_content.match(/^.*?(?=<!-- headline -->)/m)
        = article_desc_match_data.to_s
        %p.readmore
          = link_to("More &raquo;", @item.path)
      - else
        = @item.compiled_content
        %p.comment
          = link_to("Comment &raquo;", @item.path)
    - else
      = yield
      #disqus_thread
      :javascript
        var disqus_shortname = 'chiranoura';
        var disqus_title = '#{@item[:title]}';
        var disqus_identifier = '#{@item.identifier}';
        var disqus_category_id = '#{get_cate_id(@item[:category])}';
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      %noscript
        Please enable JavaScript to view the
        %a{:href=>"http://disqus.com/?ref_noscript"} comments
        powered by Disqus.
      %a.dsq-brlink{:href=>"http://disqus.com"}
        comments powered by 
        %span.logo-disqus Disqus
