- if @category == nil
  - cate_name = nil
  - link_for_cate = link_to('All', '/')
  - tags = count_by_tag(@items).sort_by{|e| e[0]}
  - recent_articles = sorted_articles[0,5]
- else
  - cate_name = @category
  - link_for_cate = link_for_category(@category)
  - tags = count_by_tag_with_category(@category).sort_by{|e| e[0]}
  - recent_articles = items_with_category(@category).sort_by{|i| i[:created_at]}.reverse[0, 5]

%div#side_upper_ads
  %script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  %ins(class="adsbygoogle" style="display:inline-block;width:234px;height:60px" data-ad-client="ca-pub-8247743603913410" data-ad-slot="6061651880")
  %script= "(adsbygoogle = window.adsbygoogle || []).push({});"
  
%div#top_category
  %h2(class="#{cate_name}") #{link_for_cate}
  %div#tags
    - if tags
      %h3 Tags
      %ul.tags
        - tags.sort_by{|e| e[0]}.each do |tag, num|
          %li #{link_for_tag_with_category(tag, cate_name)} x #{num}
    - else
      %p (none)
  %div#recent_posts
    %h3 Recent Posts
    %ul.recent_posts
      - recent_articles.each do |article|
        %li #{link_to(article[:title], article.path)}

%div#categories
  %h1 Categories
  %h2 #{link_to('<i class="fa fa-cc-paypal"></i> All', '/')}
  - get_categories_except(nil).each do |category|
    %h2(class="#{category}") #{link_to('<i class="fa fa-cc-paypal"></i> '+category, '/'+category+'/')}

%div#side_lower_ads
  %script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  %ins(class="adsbygoogle" style="display:inline-block;width:160px;height:600px" data-ad-client="ca-pub-8247743603913410" data-ad-slot="2280803480")
  %script= "(adsbygoogle = window.adsbygoogle || []).push({});"
