!!! XML
!!! 5
%html{:xmlns =>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{:charset =>"utf-8"}
    %meta{:name =>"generator", :content =>"nanoc 3.1.7"}
    %title
      = "ちらのうら - #{@item[:title]}"
    %link{:rel =>"stylesheet", :type =>"text/css", :href =>"/stylesheets/screen.css", :media =>"screen"}
    %script{:type => "text/x-mathjax-config"}
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    %script{:type => "text/javascript", :src => "https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-44690113-1', 'nobody.jp');
      ga('send', 'pageview');

  %body
    #container
      #header
        %h1 ちらのうら

      #main
        - if @item[:kind] == 'article'
          - render('_article', :item => @item) do
            = yield
        - else
          = yield

      #side
        - if @item[:category_meta] == nil
          = render('_side_summary', {:category => @item[:category]})
        - else
          = render('_side_summary', {:category => @item[:category_meta]})

      #footer
        %p copyright
